/* override emy */
body {
	overflow-y: visible;
}
section.panel > h2, section.panel > form > h2  {
	margin: 0 0 2px 6px;
	padding-top: 10px;
}
section.panel > p, form > p, section ul.plaintext {
	margin: .5em 6px;
	color: #4D4D70;
	text-shadow: rgba(255, 255, 255, .8) 0px 1px 0;
	font-size: .9em;
}
.mainButton {
	margin-left: 0;
	margin-right: 0;
}
section ul.normal li {
	display: block;
	width: auto;
	border: 0 !important;
	background: none;
	font-weight: normal;
}

/* grey out disabled links / buttons */
button.disabled, button.disabled:active, a.disabled, a.disabled:active {
	color: #999;
}

/* status text inside list link element */
li a span {
	position: absolute;
	right: 28px;
	color: #425C8D;
	font-weight: normal;
}
li a:active span {
	color: #fff;
}


/* Map of features screen
----------------------------------------- */

.leaflet-top {
	top: 45px;
}

.popup h1 {
	font-size: 1.3em;
}
.popup .time {
	margin-top: .25em;
	color: #666;
}
.popup img {
	margin: 0;
}
.popup th {
	padding-right: .5em;
}
.popup .user {
	border-top: 1px solid #ddd;
	padding-top: 2px;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
	.leaflet-control-zoom {
		 display: none;
	}
}


/* Sync screen
----------------------------------------- */

#syncstatus {
	font-weight: bold;
}

#syncresults li {
	padding: 0;
	width: 100%;
}

/* status of writing to db */
.success {
	color: #008000 !important;
}
.error {
	color: #c00 !important;
}


/* Form screens
----------------------------------------- */

/* explicitly set fonts (not inheriting for some reason) */
input, textarea {
	font-family: inherit;
}

/* checkbox / radio button lists */
fieldset ul.inputs {
	overflow: auto;
	margin: 0;
	padding: 2.5em 1em .5em;
}
fieldset ul.inputs li {
	float: left;
	margin-right: 1.2em;
	line-height: 1.8;
}

/* take photo (browse) file input */
.photo {
	position: relative;
}
.photo input {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}
.photo span.launchapp {
	margin: 11px 0 0 125px;
	padding: 0;
}
.photo p {
	position: absolute;
	top: 6px;
	left: 18em;
	color: #333;
	font-size: .75em;
}

canvas {
	max-height: 204px;
	max-width: 272px;
	margin: 3em 0 1em 12px;
}

/* location info and map */
.location {
	margin: .5em 0 .75em 12px;
	font-size: .9em;
}
.location .error {
	margin-top: .5em;
}
#options li {
	float: left;
	margin-right: 1.2em;
}
#options li a {
	border: 0;
}
#options a, #options a:hover, #options a:active, #options a:visited {
	color: #00c !important;	 /* override emy active color */
}
#locationmap img {
	display: block;
	margin-bottom: .5em;
}

/* override emy */
section fieldset > .row > label {
	max-width: none;
}
section fieldset > .row > select {
	width: 12em;
}
section fieldset > .row > textarea {
	min-height: 0;
}
section fieldset > .row > textarea,
section fieldset > .row > span,
section fieldset > .row > input:not([type|=radio]):not([type|=checkbox]) {
	padding-left: 125px;
}

/* launch app buttons */
.launchapp {
	display: inline-block;
	padding: 2px 8px !important;
	border: 1px solid #ddd;
	border-radius: 3px;
	background: #eee;
	background-image: -webkit-linear-gradient(top, rgb(244,244,244) 0%, rgb(233,233,233) 50%);
	color: #000;
	font-size: .9em;
}
.launchapp a {
	color: #000;
	text-decoration: none;
}

/* operator field gets moved in the DOM from 'home' screen to 'form' screen user is currently viewing */
.hide, #hidden-fields, form #operator {
	display: none;
}